@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

.container {
  display: grid;
  margin: 50px auto;
  justify-items: center;
  align-items: center;
  padding: 50px;
  gap: 64px 32px;
}

.container-one {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.container-two {
    grid-template: 1fr 4fr / repeat(3, 1fr);
}

.item {
  text-align: center;
}

.item-features,
.item-pricing {
  grid-column: 1/4;
}

.card {
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.card-item {
border: 1px solid #EAECF0;
padding: 32px;
}

.card-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.card-bottom {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.card-features {
    display: flex;
    align-items: center;
    gap: 12px;
}

span {
  color: #6941c6;
  font-size: 16px;
  font-weight: 600;
}

h2,
h3 {
  color: #101828;
  font-weight: 600;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

p {
  color: #475467;
  font-weight: 400;
  font-size: 16px;
}

b {
    color: #101828;
    font-size: 60px;
    font-weight: 600;
}

button {
border-radius: 8px;
height: 48px;
margin: 6px;
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.button-one {
border: 1px solid #7F56D9;
background-color: #7F56D9;
color: #ffffff;
}

.button-two {
    border: 1px solid #D0D5DD;
    background-color: #ffffff;
    color: #344054;
}

.p-features {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
}

.p-plan {
    font-size: 18px;
}

.popular {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    align-items: center;
    margin: 0px;
    
}
.p-popular {
    color: #6941c6;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 16px;
    background: #F9F5FF;
    padding: 8px 18px;
}

.button-box {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
}

.svg {
  border-radius: 28px;
  border: 8px solid #f9f5ff;
  background: #f4ebff;
  width: 50px;
  height: 50px;
}

@media (max-width: 768px) {
  .container {
    gap: 0px;
    margin: 0px;
    padding: 20px;
  }

  .container-one {
    grid-template: repeat(7, 1fr) / 1fr;
  }
  .container-two {
    grid-template: repeat(4, 1fr) / 1fr;
    gap: 20px
  }
  .item-features,
  .item-pricing {
    grid-column: 1/2;
  }
}
